

/* Изменим способ расчета браузером размеров элементов*/
/* Теперь в ширину и высоту входит сам контент, */
/* граница (border) и внутрение поля (padding)*/

* {                            /*все элементы*/
    box-sizing: border-box;    /*Размер = контент + padding + border*/
}



#wrapper{
    width: 80%;          /*ширину контейнера для кода зададим в процентах*/    
    padding: 5px;
    margin: 1% auto;
    max-width: 1400px;   /*ограничим растягивание ширины до 1000px*/
    min-width: 400px;    /*ограничим сжимание ширины до 400px*/
    border: solid 2px gray
}

/*header--------------------------------------------------------*/
#header{
    height: 80px;
    background: #0aa312;
}
#header p {
    font-size: 30px;
    text-align: center;
    padding-top: 19px;
    color: #c710a8;
}
/*end header-----------------------------------------------------*/


/*sidebar1-------------------------------------------------------*/
#sidebar1{
    float: left;    
    height: 600px;
    background-color: #6de973;
    width: 20%;             /*ширину сайдбара  зададим в процентах*/
}


/*end sidebar1---------------------------------------------------*/


/*sidebar2-------------------------------------------------------*/
#sidebar2{
    float: right;   
    height:600px;
    background-color: #6de973;

    width: 20%;             /*ширину сайдбара  зададим в процентах*/
}


/*end sidebar2----------------------------------------------------*/


#content{
    height: 600px;
    background: #9ef7af;
    margin: 0 0 0 20%;     /*внешние отступы  зададим в процентах*/
    width: 60%;                 /*ширину контента  зададим в процентах*/
}
#footer{
    height: 80px;
    background: #0aa312;
}